* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;

   background: linear-gradient(
    135deg,
    #76a561,
    #d7dbdb,
    #99ccad
  );

  color: white;
}

#root {
  min-height: 100vh;
}

.app-container {
  text-align: center;
  padding-top: 40px;
}

h1 {
  margin-bottom: 25px;
  font-size: 3rem;
  font-weight: bold;
}
.navbar {
  width: 90%;
  max-width: 1000px;

  margin: 0 auto 30px;

  padding: 15px 25px;

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 20px;

  background: rgba(255,255,255,0.05);

  border-radius: 15px;

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.1);
}

.navbar a {
  text-decoration: none;

  color: white;

  font-weight: 600;

  transition: 0.3s;
}

.navbar a:hover {
  color: #398546;
  font-weight: bold;
}

.card {
  width: 420px;

  margin: auto;

  background: rgb(167, 192, 146);

  backdrop-filter: blur(15px);

  border: 10px solid rgba(80, 202, 32, 0.925);

  border-radius: 20px;

  padding: 35px;

  box-shadow:
    0 8px 32px rgba(67, 158, 39, 0.3);
}

.card h2 {
  margin-bottom: 25px;
}

.card input {
  width: 100%;

  padding: 14px;

  margin-top: 12px;

  border-radius: 10px;

  border: none;

  outline: none;

  font-size: 15px;

  background: rgba(255,255,255,0.12);

  color: rgb(245, 245, 245);
}

.card input::placeholder {
  color: #eeeeee;
}

.card button {
  width: 100%;

  padding: 14px;

  margin-top: 20px;

  border: none;

  border-radius: 10px;

  font-size: 16px;

  font-weight: bold;

  background: #10c04b;

  color: #f2f3f5;

  cursor: pointer;

  transition: 0.3s;
}

.card button:hover {
  transform: translateY(-2px);

  background: #53b66b;
}

.card p {
  margin-top: 20px;
  color: #edebf3;
}

.card a {
  color: #2f8148;
  font-weight:bolder;
  text-decoration: none;
}

.dashboard-grid {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-box {
  background: rgba(255,255,255,0.08);
  border-radius: 12px;
  padding: 20px;
  min-width: 140px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.1);
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius:500px;
  border-image: round;
  object-fit: cover;
  margin-bottom: 15px;
}